<div class="container text-center">
  <div class="row">
    <div class="card-view col-6">
      <div class="card-img">
          <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class:"img-profile", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
          <%= image_tag "https://www.promoview.com.br/uploads/images/unnamed%2819%29.png", class: "avatar-profile", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
      </div>
      <div class="skill-info card-infos">
          <% if @user.skills.present? %>
            <ul>
            <% @user.skills.each do |skill| %>
            <li><%= skill.language %></li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <div class="container instructions col-5">
      <h2>Instruções</h2>
      <% if current_user.mentor %>
        <p>
          <strong>Mentora:</strong>

          Olá! É muito bom te ver por aqui! Lembra daquele frio na barriga que todos nós temos quando iniciamos uma carreira? Pois é, aqui estamos rodeadas de mulheres passando por este processo! Vamos contribuir para que Desenvolvedoras Junior dêem os melhores passos em direção a uma carreira de sucesso! Não se esqueça: paciência e empatia são primordiais neste processo, por isso seja gentil com as inseguranças da sua mentorada. Lembre-se, você só pode aceitar um convite por vez, e só ficará disponivel novamente assim que a mentoria for completada. Vamos construir uma comunidade de mulheres na tecnologia!</p>
        </p>
      <% end %>
      <% if current_user.student %>
        <p>
          <strong>Estudante:</strong>

          Bem vinda! É muito bom te ver por aqui! Queremos que você tenha a melhor experiência possível e alcançe seus objetivos com clareza e assertividade. Para isso, você pode escolher uma mentora através da lista disponível. Você pode enviar apenas um convite por mentora, caso ela aceite ambas só estarão disponíveis para novas mentorias após esta ser completada. Boa jornada! Vamos construir uma comunidade de mulheres na tecnologia!
        </p>
      <% end %>

      </div>
    </div>

  <div class="row">
    <div class="col">
        <%= link_to "Convites", my_proposals_path, class:"btn-instructions btn-default-big" %>
    </div>
    <div class="col">
        <% if current_user.student? %>
          <%= link_to "Encontre uma mentora", mentorships_path, class:"btn-instructions btn-default-big" %>
        <% end %>
        <% if current_user.mentor? %>
          <%= link_to "Skills", new_skill_path, class:"btn-instructions btn-default" %>
        <% end %>
    </div>
  </div>
  </div>
</div>
