<h1>Meu Perfil</h1>


<%= link_to "My proposals", my_proposals_path, class:"btn btn-primary" %><br />

<% if current_user.student %>
  <%= link_to "Choose a mentor", mentorships_path, class:"btn btn-primary" %><br />
<% end %>

<% if current_user.mentor %>
  <%= link_to "My skills", new_skill_path, class:"btn btn-primary" %><br />
  <% if @user.skills.present? %>
  <ul>
  <% @user.skills.each do |skill| %>
  <li><%= skill.language %><%= button_to "delete skill", skill_path(skill), method: :delete %></li>
  <% end %>
  </ul>
  <% else %>
      <h2>You do not have any skills set yet</h2>
  <% end %>
<% end %>
