<div class="container-sm">
  <h1 class="logo-body">girls.match()</h1>
  <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card-infos-home">
          <p>
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag "pngaaa-com-2437155.png", class:"flower" %>
      </div>
    </div>
  </div>
  <div class="depositions row">
    <div class="col-md-4">
        <p class="p-balloon">girlsmatch mudou <br>
                             a minha vida e carreira!.</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://cdn.eutotal.com/imagens/mulheres-de-rosto-redondo.jpg", class:"card-picture" %>
      </div>
    </div>
    <div class="col-md-4">
        <p class="p-balloon">Agradeço por ter <br>
                             encontrado o girlsmatch</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://ae01.alicdn.com/kf/H83932ab7323140418b80ce1b968fd1643/culos-de-prote-o-da-luz-azul-para-homem-e-mulher-arma-o-quadrada-de.jpg_Q90.jpg_.webp", class:"card-picture" %>
      </div>
    </div>
    <div class="col-md-4">
    <p class="p-balloon">Obrigado girlsmatch <br>
                         por mostrar que posso</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://www.metroworldnews.com.br/resizer/yTqU6THXHo97Z9l3rSLUN1xbMM4=/800x0/filters:format(jpg):quality(70):focal(329x433:339x443)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/2NPZD6KZTZFRNOBNCQCVTYSO5U.jpg", class:"card-picture" %>
      </div>
    </div>
  </div>
</div>
