<div class="container-sm">
  <h1 class="logo-body">girls.match()</h1>
  <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card-infos-home">
          <p>
            O GirlsMatch é uma plataforma com foco em te ajudar,
            desenvolver e te capacitar na sua jornada na area de programacao.
            No Brasil, mulheres representam apenas 17%  da força de trabalho
            nesse campo tecnologico. Assim, o GirlsMatch nasceu com o proposito
            de quebrar essas barreiras e fortalecer meninas e mulheres que estão
            iniciando nessa area, e com o auxilio e experiencia de nossas mentoras,
            mulheres que ja atuam como desenvolvedoras, buscamos motivar e promover
            oportunidades para que você mulher possa dar os primeiros passos
            de aprendizagem  necessarios nessa area.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag "pngaaa-com-2437155.png", class:"flower" %>
      </div>
    </div>
  </div>
  <div>
   <h2 class="h2-depositions">Depoimentos</h2>
  </div>
  <div class="depositions row">
    <div class="col-md-4">
        <p class="p-balloon">girlsmatch mudou <br>
                             a minha vida e carreira!.</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://cdn.eutotal.com/imagens/mulheres-de-rosto-redondo.jpg", class:"card-picture" %>
      </div>
    </div>
    <div class="col-md-4">
        <p class="p-balloon">Agradeço por ter <br>
                             encontrado o girlsmatch</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://ae01.alicdn.com/kf/H83932ab7323140418b80ce1b968fd1643/culos-de-prote-o-da-luz-azul-para-homem-e-mulher-arma-o-quadrada-de.jpg_Q90.jpg_.webp", class:"card-picture" %>
      </div>
    </div>
    <div class="col-md-4">
    <p class="p-balloon">Obrigado girlsmatch <br>
                         por mostrar que posso</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://www.metroworldnews.com.br/resizer/yTqU6THXHo97Z9l3rSLUN1xbMM4=/800x0/filters:format(jpg):quality(70):focal(329x433:339x443)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/2NPZD6KZTZFRNOBNCQCVTYSO5U.jpg", class:"card-picture" %>
      </div>
    </div>
  </div>
</div>
