<div class="container-sm">
  <h1 class="logo-body">girls.match()</h1>
  <div class="row align-items-center">
      <div class="col-md-6">
        <div class="card-infos-home">
          <p style="text-align: justify;">
          <strong>O match certo pra uma carreira de sucesso!</strong> <br>
        Sabe aquela insegurança de se candidatar a uma vaga de emprego? Pois é, de acordo com uma pesquisa feita pelo Linkedin, mulheres apenas se candidatam a vagas de emprego se preencherem 100% dos requisitos. Além disso no Brasil as mulheres representam apenas 17%  da força de trabalho na área de tecnologia.
        É com o intuito de fortalecer a presença feminina nesses espaços que surgiu o girls.match().
        Aqui mulheres de todas as senioridades dentro da área tech podem se encontrar para oferecer ou requerer mentoria. Buscamos motivar e promover oportunidades para que você mulher possa dar os primeiros passos de aprendizagem  necessarios nessa área.
        Venha programar com a gente!
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag "pngaaa-com-2437155.png", class:"flower" %>
      </div>
    </div>
  </div>
  <div>
   <h2 class="h2-depositions">Depoimentos</h2>
  </div>
  <div class="depositions row">
    <div class="col-md-4">
        <p class="p-balloon">Encotrei a mentora <br>
                             certa e só tive sucesso.</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://cdn.eutotal.com/imagens/mulheres-de-rosto-redondo.jpg", class:"card-picture" %>
      </div>
    </div>
    <div class="col-md-4">
        <p class="p-balloon">Agradeço o girlsmatch<br>
                             pela facilidade e sucesso</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://ae01.alicdn.com/kf/H83932ab7323140418b80ce1b968fd1643/culos-de-prote-o-da-luz-azul-para-homem-e-mulher-arma-o-quadrada-de.jpg_Q90.jpg_.webp", class:"card-picture" %>
      </div>
    </div>
    <div class="col-md-4">
    <p class="p-balloon">Obrigado girlsmatch <br>
                         por mostrar que sou capaz</p>
      <%= image_tag "pngwing-com.png", class:"balloon" %>
      <div class="cards-depositions">
        <%= image_tag "https://www.metroworldnews.com.br/resizer/yTqU6THXHo97Z9l3rSLUN1xbMM4=/800x0/filters:format(jpg):quality(70):focal(329x433:339x443)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/2NPZD6KZTZFRNOBNCQCVTYSO5U.jpg", class:"card-picture" %>
      </div>
    </div>
  </div>
</div>
