

<div class="container search-container">
  <%= form_with url: mentorships_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a mentor or "
    %>
    <%= submit_tag "Search", class: "btn-default" %>
  <% end %>
</div>

  <% @mentors.each do |mentor| %>

        <%= mentor.username.capitalize  %>
            <% if mentor.available %>
            <p><%= link_to "Ver perfil!", user_path(mentor), class: "btn-default-big" %></p>
            <% else %>
            <p><%= "Mentora não disponível" %></p>
            <% end %>


  <% end %>

<%= link_to "Voltar", profile_path, class: "btn-default btn-skills" %>
