<h1> Seus convites </h1>

<% @mentorships.each do |mentorship| %>
  <% if current_user.student %>
    <% chatroom = Chatroom.find_by(student: current_user, mentor: mentorship.mentor) %>
    <%= mentorship.mentor.username %>
    <%= mentorship.completed %>
    <%= link_to "Abrir chat", chatroom_path(chatroom) if mentorship.accepted %>
  <% else %>
    <%= mentorship.student.username %>
      <% if mentorship.completed == false %>
        <%= link_to "Aceitar", mentorship_path(mentorship), data: { "turbo_method": :patch}, class: "btn-default" %>
      <% else %>
        <%= "Essa estudante já aceitou outro convite." %>
      <% end %>
      <% mentorship.accepted %>
  <% end %>
<% end %>

<%= link_to "Voltar", profile_path, class: "btn-default btn-skills" %>
